body{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

/* Header */
.header{
    background-color: #F3E9F1;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 5px grey;
}

.logo{
    height: 100px;
}

/* Header : icone retour */ 

.return-icon{
    margin-left: 30px; 
    font-size: 30px;
}

.display-none{
    display: none;
}

.cart-icon{
    margin-right: 30px; 
    font-size: 30px;
    background: linear-gradient(to right bottom, #ea7c37, #f06c53, #ee626e, #e25e87, #ce619d, #c660a9, #ba61b6, #aa63c2, #a860d0, #a35dde, #9b5bee, #8f5bfe); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 


/* PAGE D'ACCUEIL : vues produits sous forme de cartes cliquables */

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 992px){
    .container{
        margin-left: 50px;
        margin-right: 50px;
    }
}

h1{
    margin-top: 80px;
    margin-bottom: 80px;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.products-list{
    display: grid; 
    grid-template-columns: 1fr;
    margin-top: 20px;
}

/* Affichage vues produits Tablette et Desktop */
@media screen and (min-width: 600px){
    .products-list{
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

@media screen and (min-width: 992px){
    .products-list{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 10px;
    }
}


/* Carte produit */
.product-card{
    background-color: #F3E9F1;
    border-radius: 20px;
    box-shadow: 5px 5px 8px grey;
    transform: scale(1);
    transition: all 700ms;
}

.product-card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 6px grey;
}

.card__img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card__legend{
    margin-left: 20px;
    padding-top: 10px; 
    padding-bottom: 10px;  
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
}

.card__name{
    margin: 0;
}

.card__price{
    margin: 0;
}

/* Style des liens et des boutons */ 
a{
    text-decoration: none;
    color: black;
}

button{
    text-decoration: none;
    outline: none;
    border: none;
}

/* PAGE PRODUIT */ 

.bold{
    font-weight: bold;
}

/* Disposition image et description */
.product-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (min-width: 992px){
    .product-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 30px;
    }
}

.product__img{
    height: 300px;
    box-shadow: 2px 3px 5px grey;
} 

.product__container{
    max-width: 400px;
}

@media screen and (min-width: 992px){
    .product__container{
        width: 50%;
    }
}

/* Personnalisation : options et quantité */
.purchase__product--options{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
}

.purchase__options{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items: center;
    column-gap: 20px;
}

/* Bouton ajout au panier */ 
.product__button{
    margin-top: 30px; 
    margin-bottom: 80px;
    height: 50px; 
    width: 200px; 
    border-radius: 25px;
    color: white;
    font-size: 20px;
    background: linear-gradient(to right bottom, #ea7c37, #f06c53, #ee626e, #e25e87, #ce619d, #c660a9, #ba61b6, #aa63c2, #a860d0, #a35dde, #9b5bee, #8f5bfe); 
    box-shadow: 2px 3px 5px grey; 
    transform: scale(1);
    transition: all 400ms;
}

.product__button:hover{
    box-shadow: 3px 5px 5px grey; 
    transform: scale(1.05);
}

